
.logo{
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: center;
    span{
        display: block;
        height:47px;
        width: 177px;
        background-color: #1a2d3f;
    }
}
